.homeContainer {
    width: 100vw;
    height: 100vh;
    position: absolute;

    opacity: 0.4;
    background-image: url('./../../img/fondo.jpeg');
}

.homeContainer1 {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.homeContent{
    width: 100vw;
    height: 85%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text1 {
    font-size: 3em;
}