.registerContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.registerBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    padding-top: 2em;
    padding-bottom: 1em;
    border-radius: .2em;
    margin-top: 3em;
    height: 42em;
    width: 60em;
    background-color: $pal1Col3;
}

.registerBox1 {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.errorsText1{
    color: rgb(247, 141, 141);
    width: 40em;
}

.label {

    margin-left: 1em;
    position: absolute;
}