.headerContainer {
    height:  5em;
    width: 100vw;
    color: rgb(36, 34, 34);    
    
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.logoHeader {
    margin-left: 1em;
    margin-top: 1em;
}

.loginregister {
    margin-right: 1em;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.headerUser{ 
    
    width: 6em;
    height: 1.5em;
    margin: 0.5em;
    padding: .5em;
    border-radius: 0.2em;
    color: white;
    background-color: var(--pal1Col4);

    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
}

.linkLogout {
    margin: 1em;
    transition: 0.2s;
}


.linkLogout:hover{
    cursor: pointer;
    text-decoration: underline;
    transition: 0.2s;
}