.filmsCarrusel {
    width: 100%;
    height: 32em;
    overflow: hidden;

    margin-bottom: 1em;

}


.contentCarrusel {
    width: 100%;
    height: 32em;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    position: relative;
}

.pathMovie {

    width: 100%;
    height: 32em;
    overflow: hidden;
    position: absolute;
    opacity: 0.4;
    z-index: -1;


}

.buttonGo{
    transform: scale(3);
    cursor: pointer;
    margin: 3.5em;
    transition: 0.2s;
    opacity: 0.5;

    &:hover {
        transform: scale(3.5);
        transition: 0.2s;
        opacity: unset;
    }
}

.movieInfo {
    height: 20em;
    width: 70em;


    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.filmTitle1{
    font-size: 4em;
}

.backdropCont{
    height: 100%;
    width: 100%;
    background-color: $pal1Col1 ;
}

.backMovie{
    width: 100%;
    height: 32em;

}

.info{
    
    transform: scale(1.2);
    transition: .2s;
    margin-left: 1em;

    &:hover {
        transform: scale(1.3);
    }
}