.userHeaderHome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    width: 100vw;
}


.userHeaderHome {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

