:root{

    /*Paleta 1*/

    --pal1Col1 : #F2F2F2;
    --pal1Col2 : #ACBAC8;
    --pal1Col3 : #5DA4D2;
    --pal1Col4 : #0283BF;
    --pal1Col5 : #2F3847;

    /*Colores de uso general*/

    --colBotonBase : #F58A7D;
    --colBotonHover : #B24453;

}

/* Padidng */

.pt1 { padding-top: 0.3em}
.pt2 { padding-top: 0.5em}
.pt3 { padding-top: 1em}
.pt4 { padding-top: 1.5em}
.pt5 { padding-top: 2em}

.pb1 { padding-bottom: 0.3em}
.pb2 { padding-bottom: 0.5em}
.pb3 { padding-bottom: 1em}
.pb4 { padding-bottom: 1.5em}
.pb5 { padding-bottom: 2em}

.pl1 { padding-left: 0.3em}
.pl2 { padding-left: 0.5em}
.pl3 { padding-left: 1em}
.pl4 { padding-left: 1.5em}
.pl5 { padding-left: 2em}

.pr1 { padding-right: 0.3em}
.pr2 { padding-right: 0.5em}
.pr3 { padding-right: 1em}
.pr4 { padding-right: 1.5em}
.pr5 { padding-right: 2em}

/* Margins */

.mt1 { margin-top: 0.3em}
.mt2 { margin-top: 0.5em}
.mt3 { margin-top: 1em}
.mt4 { margin-top: 1.5em}
.mt5 { margin-top: 2em}
.mb1 { margin-bottom: 0.3em}
.mb2 { margin-bottom: 0.5em}
.mb3 { margin-bottom: 1em}
.mb4 { margin-bottom: 1.5em}
.mb5 { margin-bottom: 2em}
.ml1 { margin-left: 0.3em}
.ml2 { margin-left: 0.5em}
.ml3 { margin-left: 1em}
.ml4 { margin-left: 1.5em}
.ml5 { margin-left: 2em}
.mr1 { margin-right: 0.3em}
.mr2 { margin-right: 0.5em}
.mr3 { margin-right: 1em}
.mr4 { margin-right: 1.5em}
.mr5 { margin-right: 2em}

/* BODY */
body {
    background-color: var(--pal1Col2);
}

/* CARD */

.card {
    width: 12em;
    height: 15em;

    background-color: var(--pal1Col4);
}

.botones {
    border-radius: 2em;
    width: 9em;
    height: 3em;

}

.centradoColumna {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}