.moviePath2 {

    background-color: $pal1Col4;
    height: 16.5em;
    width: 11em;
    margin-right: .9em;
    border-radius: 0.2em;
    transition: 0.2s;
    padding: .4em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}